# Environment variables
vllm.env

# Local ingestion files and status
*.json
!requirements.txt

# Pycache
__pycache__/
*.py[cod]
*$py.class

# Databases and Vector Stores
*.db
*.db-shm
*.db-wal
chroma_db/
faiss_index_v3/

# Downloaded files
downloads/
offine_downloads/
RESOURCE/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

